<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <img src="../assets/img/logo.png" alt="" width="300">

    <table>
        <tr>
            <th>Sabores</th>
            <th>Precios</th>
            <th>Disponible</th>
        </tr>
        <tr>
            <th>Sabor 1</th>
            <th>$000.00</th>
            <th>Sí</th>
        </tr>
        <tr>
            <th>Sabor 2</th>
            <th>$000.00</th>
            <th>Sí</th>
        </tr>
        <tr>
            <th>Sabor 3</th>
            <th>$000.00</th>
            <th>Sí</th>
        </tr>
        <tr>
            <th>Sabor 4</th>
            <th>$000.00</th>
            <th>Sí</th>
        </tr>
        <tr>
            <th>Sabor 5</th>
            <th>$000.00</th>
            <th>Sí</th>
        </tr>
    </table>

    <br>

    <table>
        <tr>
            <th>Adornos</th>
            <th>Precios</th>
            <th>Disponible</th>
        </tr>
        <tr>
            <th>Adorno 1</th>
            <th>$000.00</th>
            <th>Sí</th>
        </tr>
        <tr>
            <th>Adorno 2</th>
            <th>$000.00</th>
            <th>Sí</th>
        </tr>
        <tr>
            <th>Adorno 3</th>
            <th>$000.00</th>
            <th>Sí</th>
        </tr>
        <tr>
            <th>Adorno 4</th>
            <th>$000.00</th>
            <th>Sí</th>
        </tr>
        <tr>
            <th>Adorno 5</th>
            <th>$000.00</th>
            <th>Sí</th>
        </tr>
    </table>

    <h5>Dirección: Ciudad de Mexico, Colonia X, Numero Y</h5>
    <h5>Teléfono: 5521441454</h5>
    <h5>Horario de atención: Lunes a Domingo de 8 a.m. a 9 p.m.</h5>
    
    <h3>Formulario de pedido</h3>

    <form action="">

        <p>Nombre: <input type="text" name="nombre" size="50"></p>
        <p>Teléfono: <input type="text" name="telefono" size="50"></p>
        <p>Correo Electrónico: <input type="text" name="correo" size="50"></p>
        <p>Descripción general del pastel: <input type="text" name="descripcion" size="50"></p>
        <p>Sabores:
            <select>
                <option>Sabor 1</option>
                <option>Sabor 2</option>
                <option>Sabor 3</option>
                <option>Sabor 4</option>
                <option>Sabor 5</option>
            </select>
        </p>
        <button>
            Agregar sabor extra
        </button>
        <p>Adornos:
            <select>
                <option>Adorno 1</option>
                <option>Adorno 2</option>
                <option>Adorno 3</option>
                <option>Adorno 4</option>
                <option>Adorno 5</option>
            </select>
        </p>
        <button>
            Agregar adorno extra
        </button>
        <p>
            <input type="submit" value="Enviar pedido">
        </p>
    </form>
    <br>
    
</body>

</html>