<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="../assets/img/logo.png" alt="" width="300">

    <table>
        <tr>
            <th>Sabores</th>
            <th>Precios</th>
            <th>Cantidades disponible</th>
        </tr>
        <tr>
            <th>Sabor 1</th>
            <th>$000.00</th>
            <th>#</th>
        </tr>
        <tr>
            <th>Sabor 2</th>
            <th>$000.00</th>
            <th>#</th>
        </tr>
        <tr>
            <th>Sabor 3</th>
            <th>$000.00</th>
            <th>#</th>
        </tr>
        <tr>
            <th>Sabor 4</th>
            <th>$000.00</th>
            <th>#</th>
        </tr>
        <tr>
            <th>Sabor 5</th>
            <th>$000.00</th>
            <th>#</th>
        </tr>
    </table>

    <br>

    <table>
        <tr>
            <th>Adornos</th>
            <th>Precios</th>
            <th>Cantidades disponible</th>
        </tr>
        <tr>
            <th>Adorno 1</th>
            <th>$000.00</th>
            <th>#</th>
        </tr>
        <tr>
            <th>Adorno 2</th>
            <th>$000.00</th>
            <th>#</th>
        </tr>
        <tr>
            <th>Adorno 3</th>
            <th>$000.00</th>
            <th>#</th>
        </tr>
        <tr>
            <th>Adorno 4</th>
            <th>$000.00</th>
            <th>#</th>
        </tr>
        <tr>
            <th>Adorno 5</th>
            <th>$000.00</th>
            <th>#</th>
        </tr>
    </table>

    <br>
    <h2>Pedidos</h2>
    <table>
        <tr>
            <th>Cliente</th>
            <th>Adornos</th>
            <th>Sabores</th>
            <th>Costo total</th>
        </tr>
        <tr>
            <th>Juan Carlos</th>
            <th>Adorno 1 - Adorno 2</th>
            <th>Sabor 1 - Sabor 3</th>
            <th>$000.00</th>
        </tr>
        <tr>
            <th>Ricardo Martinez</th>
            <th>Adorno 2</th>
            <th>Sabor 2 - Sabor 3</th>
            <th>$000.00</th>
        </tr>
    </table>
    <br>
    <h5>Dirección: Ciudad de Mexico, Colonia X, Numero Y</h5>
    <h5>Teléfono: 5521441454</h5>
    <h5>Horario de atención: Lunes a Domingo de 8 a.m. a 9 p.m.</h5>
</body>
</html>